body {
    text-align: center;
    font-family:'Andale Mono';
}


h1 {
   
    text-align: center;
    color: #6E2022;
    font-family: Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', monospace;
    
}